html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}
.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}
html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }
.srOnly { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


html {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Playfair Display', serif;
    font-size: 1.3rem;
}

input, textarea {
    background: none;
    border: none;
    margin: 10px 0;
}

button {
    background: none;
    border: none;
}

textarea {
    resize: none;
    height: 63px;
    margin-bottom: 15.5px;
}

img {
    width: 100%;
}

nav,
header,
h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

summary:hover {
    cursor: pointer;
}

.wrapper {
    max-width: 1800px;
    width: 90%;
    margin: 0 auto;
}

/* DOT SIDE NAV */
.dotNav {
    position: fixed;
    top: 30%;
    right: 20px;
}

.dot {
  background-color: #CCCCCC;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  display: block;
  margin: 25px 0;
  transition: all .1s ease-in-out;
}

.active {
    background-color: #4D6FC1;
    transform: scale(1.2)

}

.dotNav a:hover,
.dotNav a:focus {
    transform: scale(1.5);
}

/* TOP NAV BAR */
.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.me {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.topNav {
    display: flex;
    text-transform: uppercase;
}

.topNav li {
    margin: 0 10px;
    font-size: 1.5rem;
    font-weight: 600;
}

.topNav a {
    padding: 5px;
}

.topNav li:hover,
.topNav li:focus {
    color: #4D6FC1;
}

.home a {
    color: #4D6FC1;
}

.home a:hover,
.home a:focus {
    color: black;
}

/* HAMBURGER MENU  */
.burg {
    display: none;
}

input#menu {
    display: none;
}

/* HEADER */
header {
    background: url(./assets/headerShot.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;
}

.headerText {
    position: absolute;
    top: 30%;
    left: -63px;
}

h1 {
    font-size: 8rem;   
    margin-bottom: 30px; 
}

h1 span {
    font-style: italic;
    font-weight: 500;
}

h2 {
    font-size: 3.5rem;
}

h2 span {
    display: block;
}

h3 {
    margin-top: 20px;
    font-size: 4rem;
}

h3 span {
    display: block;
}

.subtitle {
    display: flex;
    max-width: 325px;
    justify-content: space-between;
    align-items:top;
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 6px;
}

.subtitle span {
    margin-top: 5px;
}

.subtitle p {
    margin-left: 10px;
    font-weight: 700;
}

.headerStyle {
    height: 2px;
    width: 55%;
    background-color: black;
    margin-top: 2px
}

.year {
    font-style: italic;
    font-size: 1.3rem;
    display: block;
    text-align: end;
}

/* ABOUT ME SECTION */

.aboutSection {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 5%;
}

.styledHeadings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.styleLine {
    height: 120px;
    width: 2px;
    margin: 40px 0;
    background-color: black;
}


.lineTwo {
    height: 150px;
    margin-top: 110px;
    margin-bottom: 20px;
}

.lineThree {
    height: 125px;
    margin-top: 20px;
}

.headShot:hover {
    cursor: pointer;
    box-shadow: 0px 0px 42px 10px rgba(77, 111, 193,0.79);
}

.aboutMe {
    border: 1px solid teal;
    height: 300px;
    width: 300px;
    position: relative;
}

.aboutMe h2 {
position: absolute;
bottom: -110px;
left: 28.5%;
}

.aboutMe h2 span {
    margin-left: 60px;
}

.aboutText {
    line-height: 2rem;
    margin-top: 120px;
}

.aboutText p {
    margin-bottom: 10px;
}

.aboutText li {
    list-style-type: disc;
}

.team {
    margin: 10px 0;
}

.tagBio {
    margin: 20px 0;
}

.tagLine {
    font-size: 1.9rem;
    font-weight: 600;
}

.bio {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 25px;
}

.bioTag {
        margin-top: 25px;
}


.photoGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-top: 17%;
}

.teamImage {
    position: relative;
}

.overlay {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
    color: white;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
}

.overlay:hover {
    opacity: 1;
}


/* PROJECTS SECTION */
.projectContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5%;
    margin: 0 auto;
}

.projectLeft,
.projectRight {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectLeft {
    order: 1;
}

.projectRight {
    order: 2;
}

.project {
    position: relative;
}

.projects h3 {
    margin-top: 0;
}


.viewIt {
    width: 120px;
    display: flex;
    align-items: center;
    padding: 3px 3px 3px 0;
}

.viewIt .iconify {
    font-size: 1.5rem;
    margin-left: 5px;
}

.viewIt:hover .iconify,
.viewIt:focus .iconify {
    animation: pointer 1s linear infinite;
}

.hipster {
    margin-bottom: 60px;
}

.projectText,
.pTitleText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.pTitleText {
    margin-bottom: 160px;
}

.pTextContainer {
    display: flex;
    line-height: 2rem;
}

.styleLineP {
    height: 2px;
    width: 100px;
    background-color: black;
    margin: 4px 20px 0 0;
}

.project p {
    margin-bottom: 10px;
}

.tools {
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.project p span {
    font-size: 1.5rem;
}

/* TECHNICAL SKILLS SECTION */ 


.skillContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillLine {
    margin-top: 0;
    height: 100px;
}

.skillContainer h2 {
    margin: 0;
}

.horizontal {
    height: 2px;
    width: 200px;
}

.skillIcons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
    text-align: center;
    font-size: 2rem;
}



.icons img {
    width: 37px;
    height: 37px;
}

.skillIcons i,
.iconify {
    font-size: 4rem;
}

.icons:hover,
.icons:focus {
    animation: pulse 2s ease-in-out infinite;
    cursor: pointer;
}

.icons:hover p,
.icons:focus p{
    color: #4D6FC1;
}


/* CONTACT */
.contact {
    padding: 50px 0 45px 0;
}

.contact h3 {
    margin-top: 0;
}

.contactBox {
    display: flex;
    justify-content: space-between;
}

.contactText {
    margin: 50px 0;
    width: 70%;
}

.contact .styleLine {
    height: 2px;
    width: 80px;
    margin: 0 20px;
    margin-top: 3px;
}

.contactContainer {
    display: flex;
    line-height: 2rem;
    justify-content: space-evenly;
}

.flexContact {
    display: flex;
}

.email {
    padding: 5px 5px 5px 0;
}

.underline {
    height: 2px;
    width: 0;
    background-color: black;
    transition: all 1s linear;
}

.email:hover + .underline,
.email:focus + .underline {
    width: 100%;
}


.name {
    margin: 0 0 25px 0
}

.name span {
    display: block;
}

.placeholder img {
 max-height: 400px;
}

.meeting {
    padding: 5px 5px;
    border: 2px solid black;
    font-size: 1.8rem;
    transition: all .5s;
}

.meeting:hover {
    cursor: pointer;
}

.meeting:hover,
.meeting:focus {
    background: black;
    color: white;
}

.meeting i {
    margin-left: 10px;
}

.emailBox {
    align-self: flex-end;
    height: 100%;
    margin-right: 10px;
    width: 40%;
}

.contact button {
    margin-left: 0;
}

.book {
    margin-top: 17.5px;
}

form input,
form textarea {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    height: 100%;
    align-items: space-between;
}

.emailMe {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}


button {
    font-family: 'Playfair Display', serif;
    height: 38px;
    width: 120px;
    margin: 5.5px;
}


/* FOOTER */
footer {
    text-align: center;
}

.footerStyle {
    width: 100%;
    height: 1px;
    background: rgb(230,230,230);
    background: radial-gradient(circle, rgba(230,230,230,1) 90%, rgba(255,255,255,1) 100%);
}

.footerBox {
    margin: 30px 0;
}

.footerBox p {
    margin-bottom: 8px;
}

.footerBox a {
    color: slategray;
    font-size: 2rem;
    padding: 5px;
    margin: 0 10px;
}

.footerBox i {
    transition: all .5s;
}

.footerBox a:hover,
.footerBox a:focus {
    color: #4D6FC1;
}

.footerBox a:hover i,
.footerBox a:focus i {
    transform: scale(1.3);
}

/* DARKMODE */
.darkMode {
    background-color: black;
    color: white;
}

.darkSetting {
    display: none;
}

.darkLine {
    background: white;
}

.lightSwitch {
    cursor: pointer;
}


.emailLight {
    border-color: white;
    color: white;
}

.lightButton {
    border-color: white;
    color: white;
}

.lightButton:hover {
    background: white;
    color: black;
}

.hideMe {
    display: none;
}

.mobile {
    display: none;
}


@keyframes pulse {
 0% {
     transform: scale(1);
 }
 20% {
     transform: scale(1.1);
 }
 40% {
     transform: scale(1);
 }
 60% {
    transform: scale(1.2);
}
80% {
    transform: scale(1);
}
100% {
    transform: scale(1);
}}

@keyframes pointer {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
    
}

/* MEDIA QUERIES */
@media (max-width: 1024px) {

    .dotNav {
        display: none;
    }

    header {
        height: 60vh;
    }

    .headerText {
    top: 40%;
    left: 0;
    }

    .subtitle {
        padding: 0;
    }

    .pTitleText {
        margin-bottom: 90px;
    }

    form input,
    form textarea {
        width: initial;
    }
}

@media (max-width: 940px) {
    /* make hamburger menu */
    .burgerContent {
        position: absolute;
        right: 5%;
        top: 23px;
        z-index: 2;
        max-height: 0;
        overflow: hidden;
        transition: all 1s;
    }

    input#menu:checked ~ .burgerContent{
        max-height: 250px;
    }

    .topNav {
        flex-direction: column;
        padding: 12px 0 5px 0;
        margin: 0;
        width: 125px;
        background: rgba(255, 255, 255, .6);
    }

    .darkBackground {
        background: rgba(0, 0, 0, .6);
    }

    .topNav li {
        margin: 10px 0;
    }

    .lightSwitch {
        text-align: center;
    }

    input#menu {
        display: block;
        position: absolute;
        right: 55px;
        top: 20px;
        z-index:4;
        height: 50px;
        width: 50px;
        opacity: 0;
        cursor: pointer;
    }

    .burg {
        display: block;
        position: absolute;
        right: 55px;
        top: 35px;
        z-index: 3;
        background: #2c2c2c;
        height: 5px;
        width: 50px;
        border-radius: 5px;
        transition: transform .5s;
    }


    .burg2 {
        top: 50px;
    }

    .burg3 {
        top: 65px;
    }

    input#menu:checked ~ div.burg1 {
        transform: translateY(15px) rotate(45deg);
    }

    input#menu:checked ~ div.burg2 {
        visibility: hidden;
        transform: rotate(360deg);
    }

    input#menu:checked ~ div.burg3 {
        transform: translateY(-15px) rotate(-45deg);
    }

    .photoGrid {
        grid-template-columns: 1fr 1fr;
    }

    .lineTwo {
        height: 225px;
    }

    .lineThree {
        height: 150px;
    }

    .placeholder {
        display: none;
    }

    .contactText {
        width: 100%;
    }

    .emailBox {
        margin-left: 25px;
    }

    .emailBox {
        width: 100%;
    }

    form {
        width: 100%;
    }

    .contact input,
    .contact textarea {
        width: 80%;
    }
}

@media (max-width: 768px) {

    .mobile {
        display: initial;
    }

    .desktop {
        display: none;
    }

    .tagLine {
        margin-bottom: 50px;
    }

    .lineThree {
        margin-top: 130px;
    }

    .aboutText {
        margin: 0;
    }

    .mobileTeam {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mobileTeam .styleLine {
        margin: 0 0 25px 0;
    }


    .headerText {
    top: 25%;
    }
    
    h1 span {
        display: block;
    }

    .aboutSection {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 5%;
    }

    .lineTwo {
        height: 120px;
    }

    .photoGrid{
        margin: 0 0 50px 0;
    }

   .projectContainer {
    grid-template-columns: 1fr;
    }

    .projectLeft {
        order: initial;
    }

    .projectRight {
        order: initial;
    }

    .pTitleText {
        margin-bottom: 50px;
    }

    .project h3 {
        margin-bottom: 15px;
        text-align: center;
    }

    .skillIcons {
        grid-gap: 5px;
    }

    .contact {
        padding: 0;
    }


}

@media (max-width: 480px) {
    header {
        height: 90vh;
    }

    form {
        display: none;
    }

    h1 {
        font-size: 6rem;
    }

    .aboutSection {
        width: 100%;
    }
}